name: publish

on:
  workflow_call:
    inputs:
      config-path:
        required: true
        type: string
    secrets:
      token:
        required: true
        
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure Git
        run: |
          git config --global user.email "quentin.festor@etu.umontpellier.com"
          git config --global user.name "quarto-github-actions"

      - name: Restore artifact
        uses: actions/download-artifact@v3
        with: 
          name: artifact-env
          path: ${{ runner.temp }}/

      - name: Restore artifact
        uses: actions/download-artifact@v3
        with: 
          name: artifact-cache
          path: ~/

      - name: Restore name of sha from artifact
        id: calculate-sha256
        run: echo "sha256=$(head -n 1 ${{ runner.temp }}/activate_env.sh | cut -d '=' -f 2)" >> $GITHUB_OUTPUT

      - name: Display path_env.sh content
        run: |
          echo "Content of path_env.sh:"
          cat /home/runner/path_env.sh

      - name: Convert paths to JSON
        id: convert
        env:
          paths: |
            /home/runner/work/_temp/renv/
            ~/renv.lock
            /home/runner/work/template-computo-R/template-computo-R/.Rprofile
            /home/runner/.Rprofile
            /home/runner/work/_temp/Library/renv/resources/activate.R
            /home/runner/work/template-computo-R/template-computo-R/renv/activate.R
            /home/runner/work/template-computo-R/template-computo-R/renv/library/linux-ubuntu-jammy/R-4.4/x86_64-pc-linux-gnu/renv/resources/activate.R
            /home/runner/work/_temp/renv/source/repository/
            /home/runner/work/_temp/renv/cache/v5/linux-ubuntu-jammy/R-4.4/x86_64-pc-linux-gnu/
            /home/runner/work/template-computo-R/template-computo-R/renv/library/linux-ubuntu-jammy/R-4.4/x86_64-pc-linux-gnu/
      
        run: |
          echo "paths=$( jq --raw-input --slurp 'split("\n") | [.[:-1][]]' <<< "${{ env.paths }}")"
          echo "paths=$( jq --raw-input --slurp 'split("\n") | [.[:-1][]]' <<< "${{ env.paths }}")" >> $GITHUB_OUTPUT



      - name: debug
        run: echo "${{ steps.convert.outputs.paths }}"
        
      - name: debug2
        run: echo "${{ fromJSON(steps.convert.outputs.paths) }}"

      - name: Restore Cache environment
        uses: actions/cache@v4
        with:
          path: ${{ fromJSON(steps.convert.outputs.paths) }}
          key: ${{ steps.calculate-sha256.outputs.sha256 }}

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          tinytex: true

      - name: Register TinyTeX globally for diagram.lua
        run: |
          mkdir -p ~/.local/bin
          ~/.TinyTeX/bin/x86_64-linux/tlmgr option sys_bin ~/.local/bin
          ~/.TinyTeX/bin/x86_64-linux/tlmgr path add
          ~/.TinyTeX/bin/x86_64-linux/tlmgr install libertinus-fonts

      - name: Install Computo extension for Quarto
        run: |
          quarto add --no-prompt computorg/computo-quarto-extension
          
      - name: Activate the environment from the cache with the script in the artifact
        run: |
          tail -n +2 ${{ runner.temp }}/activate_env.sh | source /dev/stdin

      - name: publish
        run: quarto publish gh-pages template-computo-R.qmd